---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/fireworks.jpeg
bottom_image: /images/fcampfire.jpeg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Linux User Group of Zenica</h1>
			<p class="subtext editable">Make a new friend today. Meet <b>LINUX</b> an open source operating system.<br>Feel freedom!</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Feel the power of the penguin!</h2>
				<p class="editable">Linux -- the free open source operating system for enterprise, small business and home computing use -- is not used everywhere yet. However, its user base crosses nearly every industry. Linux is in many places today. It's in consumer products like TVs and computer networking gear. Linux drives services that users do not even know run Linux. Think in terms of servers, Big Data farms and cloud storage facilities. The analytics and Big Data marketplaces host and run platforms and applications on top of Linux in data centers and in the cloud.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/37_tux_linux_penguin.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Freedom!</h2>
				<p class="editable">Linux and "Open Source" software are "free". This means their license is a "free license", and the most common is the GPL (General Public License). This license states that anyone is allowed to copy the software, see the source code (the "recipe"), modify it, and redistribute it as long as it remains licensed with the GPL.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/freedom-pic.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Forget about viruses.</h2>
				<p class="editable">Linux hardly has any viruses. And that's not like "Oh well, not very often, you know". That's like "If you've ever heard of a real Linux virus, please tell me". Of course, a Linux virus is not impossible to get. </p>
			</div>
			<div class="image">
				<img class="editable" src="/images/tug_in_armor.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable"><a href="#">Find your distribution today</a></h2>
				<p class="subtext editable">It's free, fun and an exciting way to compute.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
